body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.5px;
    text-align: center;
    color: white;
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
}

footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Noir avec transparence */
    padding: 0.5px;
    text-align: center;
    color: white;
}


footer {
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

nav.chat-container {
    position: fixed;
    top: 90px; /* Hauteur du header */
    bottom: 60px; /* Hauteur du footer */
    left: 0;
    width: 561px; /* Largeur du chatbot */
    overflow-y: auto;
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.phone {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.screen {
    flex: 1;
    background-color: #fff;
    overflow-y: auto;
    padding: 20px;
}

.input-container {
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

input[type="text"] {    
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #434547;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send-button {
    padding: 0; /* Supprime le padding pour que l'icône soit seule */
    background-color: transparent; /* Supprime l'arrière-plan */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px; /* Ajuste la taille de la police pour l'icône */
}



button:hover {
    background-color: #727679;
}



.message {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
    word-wrap: break-word; /* Ajout de cette propriété */
}

.sent {
    float: right;
    background-color: #6d7073;
    color: white;
    border-radius: 10px 10px 0 10px;
    padding: 10px;
    max-width: 70%;
}

.received {
    float: left;
    background-color: #eee;
    border-radius: 10px 10px 10px 0;
    padding: 10px;
    max-width: 70%;
}

#toggle-chatbot {
    position: fixed;
    bottom: 5px;
    left: 10px;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    font-size: 30px;
    color: #afb4b8;
    cursor: pointer;
    z-index: 1001;
}

.chat-icon {
    border-radius: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    flex: 1;
    padding: 20px;
    border-radius: 25px;
    border: 1px solid #ccc;
    resize: none;
    margin-right: 10px;
    min-height: 0.5px;
    transition: border-color 0.3s; /* Ajoute une transition pour la couleur de la bordure */

    /* Ajoute une couleur de bordure différente lorsqu'on se focus sur le champ de texte */
    border-color: #ccc;
    outline: none; /* Supprime le contour par défaut */
}

/* Change la couleur de la bordure lorsqu'on se focus sur le champ de texte */
textarea:focus {
    border-color: gray;
}

/* Pour rendre le curseur invisible */
textarea::-webkit-scrollbar {
    width: 0px;  /* Rend le scroll invisible */
    background: transparent;  /* Permet de cliquer à travers le scroll */
}

